<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.title %></td>
        <td><%= itinerary.description %></td>
        <td><%= itinerary.start_time %></td>
        <td><%= itinerary.end_time %></td>
        <td><%= link_to 'Show', group_trip_itinerary_path(@trip.group,@trip,itinerary) %></td>
        <td><%= link_to 'Edit', edit_group_trip_itinerary_path(@trip.group,@trip,itinerary) %></td>
        <td><%= link_to 'Destroy', group_trip_itinerary_path(@trip.group, @trip, itinerary), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="calendar"></div>

<br>

<%= link_to 'New Itinerary', new_group_trip_itinerary_path(@trip.group,@trip) %>
