<div id="itineraries">
<p id="notice"><%= notice %></p>

<h2>

  <%= @itinerary.title %>
</h2>

<p>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @itinerary.start_time.strftime("%A, %B %e - %l:%M %p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @itinerary.end_time.strftime("%A, %B %e - %l:%M %p") %>
</p>

<%= link_to 'Edit', edit_group_trip_itinerary_path(@trip.group, @trip) %> |
<%= link_to 'Delete', group_trip_itinerary_path(@trip.group,@trip), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', group_trip_itineraries_path(@trip.group, @trip) %> |
<%= link_to 'Current Itineraries', group_trip_itineraries_path(@trip.group,@trip)%> |
<%= link_to 'New Itinerary', new_group_trip_itinerary_path(@trip.group, @trip) %>
</div>