<% if @group.users.include?(current_user) %>
<h2>
  <%= @group.name %>: <%= @trip.city %>
</h2>
<div class="row">
  <div class="col-md-6">
<form id="search">
  <input type="text" name="search" placeholder="e.x. Restaurants, Concerts, Venues">
  <select form="search" name="distance">
  	<option value="10">Select a radius (in miles)</option>
  	<option value="10">10</option>
  	<option value="25">25</option>
  	<option value="50">50</option>
  	<option value="100">100</option>
  </select>
  <select form="search" name="sort">
  	<option value="dist">Sort by:</option>
  	<option value="dist">Distance</option>
  	<option value="name">Alphabetical</option>
  	<option value="rank">Popularity</option>
  </select>
  <input type="submit" value="search">
</form>
<div id="results"></div>
<!-- <% render :partial => "itineraries/form", :locals => {:itinerary => @itinerary} %> -->
<script>
$(document).ready(function(){
	$("#search").submit(function(event){
		event.preventDefault();
		$("#results").html('');
		var distance = $("#search input[name=distance]").val();
		var query = $("#search input[name=search]").val();
		var sort = $("#search input[name=sort").val();
		$.getJSON("<%= search_path(@trip) %>.json",

		{
			distance: distance,
			query: query,
			sort: sort
		},
		function(response) {
			console.log(response);
			response.response.forEach(function(listing,index){
				var template =
				`<article class="listing" id="listing_${index}">
					<img src="${listing.image}"
					<h4 class="title">${listing.name}</h4>
					<p class="description">${listing.description}</p>
					<p class="rating">${listing.rating}</p>
					<a href="${listing.website}">Website</a>
          <form method="post" action="<%= new_group_trip_itinerary_path(@trip.group,@trip)%>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="itinerary[description]" value="${listing.description}" />
            <input type="hidden" name="itinerary[title]" value="${listing.name}" />
          <a onclick="javascript:this.parentNode.submit();">Add to Calendar</a>
				</article>`;
				$("#results").append(template);
			});
		}
		);
	});
});

</script>
</div>
  <div class="col-md-6">
    <%= link_to 'Full Calendar', group_trip_itineraries_path(@group, @trip) %>
    <div id="calendar"></div>
  </div>
</div>
<%= link_to 'My Fleet', group_path(@group) %>
<script>
  $('#calendar').fullCalendar({
     events: '<%= group_trip_itineraries_path(@group,@trip, format: :json) %>',
    eventLimit: true,
    aspectRatio: 2,
    header: { left: 'prev', center: 'title', right: 'next' },
    navLinks: true,
    eventDrop: function(event, delta, revertFunc) {

        alert(event.title + " was moved to " + event.start.format());

        if (!confirm("Are you sure you want to make this change?")) {
            revertFunc();
        }
      }

  });
</script>
<% else %>
<h2>It doesn't look like you're a part of this group</h2>
<%= link_to "Take me Home!", root_path %>
<% end %>
