<p id="notice"><%= notice %></p>
<% if @group.users.include?(current_user) %>
<h2>
  <%= @group.name %>
</h2>
<%= link_to 'Edit Group', edit_group_path(@group) %>

<p>
  <%= @group.description %>
</p>

<p>
Start:
  <%= @group.start %>
</p>

<p>
End:
  <%= @group.end %>
</p>
<div id="fleet">
<h3>Our Fleet</h3>
<% @group.users.each do |user| %>
	<div class="user">
		<div class="friendsPic" style="background-image: url('<%= user.avatar.url %>');"></div>
		<%= link_to user.fullname, profile_path(user.username) %>
		<% if user == current_user %>
		<%= link_to "Leave This Group", destroy_group_user_path(user.id, @group.id) %>
		<% end %>
	<% end %>
	</div>
</div>
<% if @group.users.include?(current_user) %>
<div id="addPeople">
<h3>Add Your Friends!</h3>
<% current_user.friends.each do |friend| %>
<% unless @group.users.include?(friend) %>
<div class="friend">
	<div class="friendsPic" style="background-image: url('<%= friend.avatar.url %>');"></div>
	<%= link_to friend.fullname, profile_path(friend.username) %>
	<%= link_to "Add To This Group", add_group_user_path(friend.id, @group.id) %>
	</div>
	<% end %>
</div>
<% end %>
<% end %>

<div id="trips">
	<h3>Trip Ideas</h3>
	<% @group.trips.each do |trip| %>
	<%= link_to trip.city, group_trip_path(@group, trip), class: :trip %>
	<% end %>
	<%= link_to 'Suggest A New Trip', new_group_trip_path(@group) %>
</div>

 

<% else %>
<h2>It doesn't look like you're a part of this group</h2>
<%= link_to "Take me Home!", root_path %>
<% end %>
<!-- < render :partial => "trips/form", :locals => {:trip => @trip} %> -->
