<div id="home">
<% if current_user %>
	<div id="dashboard">
	<h3>My Fleets</h3>
	<% current_user.groups.each do |group| %>
	<div class="group">
		<h4><%= link_to group.name, group %></h4>
		<p><%= group.description %></p>
		<ul>
			<% group.trips.each do |trip| %>
			<li><%= link_to trip.city, group_trip_path(group.id, trip.id) %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	</div>
	<div id="newGroup">
		<h3>New Fleet</h3>
		<%= render '/groups/form', locals: {group: @group, path: new_group_path(@group)} %>
	</div>
	<div id="friends">
		<!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Requests</a></li>
	    <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
	    <li role="presentation"><a href="#friendsList" aria-controls="friends" role="tab" data-toggle="tab">Friends</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="requests">
	    	<% current_user.requested_friends.each do |request| %>
	    	<div class="friend">
	    	<div class="friendsPic" style="background-image: url('<%= request.avatar.url %>');"></div>
	    	<%= link_to request.fullname, profile_path(request.username) %>
	    	<%= link_to "Accept Request", accept_friend_path(request.id, current_user.id) %>
	    	</div>
	    	<% end %>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="pending">
	    	<% current_user.pending_friends.each do |pending| %>
	    	<div class="friend">
	    	<div class="friendsPic" style="background-image: url('<%= pending.avatar.url %>');"></div>
	    	<%= link_to pending.fullname, profile_path(pending.username) %>
	    	</div>
	    	<% end %>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="friendsList">
	    	<% current_user.friends.each do |friend| %>
	    	<div class="friend">
	    	<div class="friendsPic" style="background-image: url('<%= friend.avatar.url %>');"></div>
	    	<%= link_to friend.fullname, profile_path(friend.username) %>
	    	<%= link_to "Remove Friend", remove_friend_path(friend.id, current_user.id), confirm: 'Are you sure?' %>
	    	</div>
	    	<% end %>
	    </div>
	  </div>
	</div>
<% else %>
	<!-- Homepage for not logged in -->
	<div class="parallax">
		<div class="parallax_layer parallax_layer-back">
			<%= image_tag "Fleet_background.png" %>
		</div>
		<div class="parallax_layer parallax_layer-mid">
			<div id="midback">
				<h2>Welcome To Fleet!</h2>
				<h3>Fleet is a planning tool for social travellers</h3>
				<div class="steps">
					<h4>Step One</h4>
					<%= image_tag "Fleet_createafleet.png" %>
					<p>form your fleet</p>
				</div>
				<div class="steps">
					<h4>Step Two</h4>
					<%= image_tag "Fleet_addevnts.png" %>
					<p>plan your trip</p>
				</div>
				<div class="steps">
					<h4>Step Three</h4>
					<%= image_tag "Fleet_suggestcity.png" %>
					<p>see the world!</p>
				</div>
				<div class="step" id="createfleet">
					<h2>Form Your Fleet</h2>
					<h3>create a fleet with your friends</h3>
					<%= image_tag "Fleet_createafleet.png" %>
					<p>Sign in to your dashboard to create a new fleet with travel dates and add friends to travel with!</p>
				</div>
				<div class="step" id="plantrip">
					<h2>Plan Yor Trip</h2>
					<h3>work together to plan the perfect trip</h3>
					<%= image_tag "Fleet_addevnts.png" %>
					<p>Work collaboratively to suggest cities to visit and find fun things to do!</p>
				</div>
				<div class="step" id="seetheworld">
					<h2>See The World</h2>
					<h3>pick a trip and go</h3>
					<%= image_tag "Fleet_suggestcity.png" %>
					<p>Pick your favorite trip as a group and get out into the world!</p>
				</div>
				<div id="signup">
				<a href="/users/sign_up"><h2>Sign Up Now!</h2></a>
				</div>

			</div>
		</div>
		<div class="parallax_layer parallax_layer-front">
		<%= image_tag "Fleet_foreground.png" %>
		</div>
	</div>
</div>
<% end %>

